:root {
    --dark-blue:#436084;
    --olive-green: #687864;
    --royal-blue: #3170BE;
    --steel-blue: #5085A5;
    --sky-blue: #8FC1E3;
    --off-white: #F7F9FB;
    --teal: #69a3a4;
    --beige: #cdbbad;
    --light-beige: #d9cfbc;
    --mint-green: #abccb7;
    --sand-brown: #d9bea1;
    --aqua-blue: #3591a0;
    --light-cyan: #65b2ca;
    --cerulean: #1f93b6;
    --dark-teal: #024950;
    --turquoise: #0FA4AF;
    --pale-blue: #AFDDE5;
}

/* Font Family */
body{
    font-family: "Gelasio", serif;
}
.navbar-brand {
    font-size: 3rem !important;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.3rem !important;
}

.navbar-nav .nav-link:hover {
    color: white !important;
}


/* changing the color of the icon of the menu */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: white;
}

.dropdown-item:hover {
    background-color: #002D62;
    color: white;
}

.btn-dark {
    background-color: #002D62;
    color: white;
}

.active{
    background-color: #002D62 !important;
}

/* the text over all attributes we put top here as 70% is not possible normally with bootstrap, well as far as i tried anyway */

#hero-home-text {
    top: 70%;
    width: 100%;
}

/* The start of The Histroical Places */

/* improving the title desing */
@media (max-width: 1000px) {
    #navbarNav {
        background-color: #002D62;
        padding-left: 1rem;
        height: fit-content;
        z-index: 999;
    }

    /* .navbar-nav .nav-link {
        color: black !important;
        font-size: 1.3rem !important;
    } */

    .nav-item {
        width: 100%;
    }

    #history,
    #oriantles {
        height: fit-content;
    }

    .section-title {
        font-size: 2rem;
    }
}

/* Start Landing */

.landing{
    background-image: url(../imgs/HistoryPage/pexels-ezz7-1059965.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.landing h1{
    color: var(--off-white);
}
/* overlay */
.landing::before{
    content: " ";
    /* background-color: rgb(0 0 0 / 10%); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* End Landing */

/* improving the title desing */

.section-title {
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 15px;
    font-weight: 700;
    width: fit-content;
}


/* To get that sexy line under*/

.section-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50;
    /* width: 34.5rem; */
    width: 100%;
    height: 0.2rem;
    background-color: lightcoral;
}


/*fixing the cards and adding some animations*/

.place-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}


/* Animating the cards */

.place-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}


/* for the sake of making the size of the imgs the same */

.place-card img {
    height: 200px;
    object-fit: cover;
}



/* Start Blog */
.blog {
    background-color: var(--off-white);
}

/* Start content */
.content{
    background-color: #212529d4;
    
}


.content .info .text{
    padding: 1.5rem;
    background-color: var(--off-white);
}

.content .info h2{
    color: var(--dark-teal);
}
.content .info p{
    background-color: var(--off-white);
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.content i{
    color: #212529;
    margin-top: -0.5rem;
}


/* End content */
form {
    border: 2px solid #333;
    /* Custom border width and color */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    /* Padding inside the form */
    box-shadow: 0 4px 8px rgb(35, 35, 113);
    /* Optional shadow effect */
}

form input,
form textarea {
    margin-bottom: 15px;
    /* Add spacing between form fields */
}

#header-restaurant {
    background-image: url('../imgs/restaurant/Restraurant-Main.jpg');
}

#header-cafe {
    background-image: url('../imgs/Caffe/Cafe-Main.jpg');
}

#header-contact {
    background-image: url('../imgs/ContactPage/contact.png');
}

#header-about {
    background-image: url('../imgs/AboutPage/about.jpg');
}